/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
&kp TAB            &kp Q  &kp W  &kp E     &kp R  &kp T              &kp Y      &kp U  &kp I      &kp O    &kp P     &kp BSPC
&mt LSHIFT ESCAPE  &kp A  &kp S  &kp D     &kp F  &kp G              &kp H      &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT          &kp Z  &kp X  &kp C     &kp V  &kp B              &kp N      &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                                 &kp LGUI  &mo 1  &mt LCTRL SPACE    &lt 3 RET  &mo 2  &kp RALT
            >;
        };

        Numeric {
            display-name = "num";
            bindings = <
&kp TAB     &kp N1        &kp N2        &kp N3        &kp N4        &kp N5          &kp N6    &kp N7    &kp N8    &kp N9     &kp N0         &kp BSPC
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT  &kp PAGE_UP    &trans
&kp LSHFT   &kp C_MUTE    &kp C_PREV    &kp C_PAUSE   &kp C_PLAY    &kp C_NEXT      &trans    &trans    &trans    &trans     &kp PAGE_DOWN  &trans
                                        &kp LGUI      &trans        &trans          &trans    &trans    &kp RALT
            >;
        };

        Symbols {
            display-name = "sym";
            bindings = <
&kp TAB         &kp EXCL   &kp AT           &kp HASH   &kp AMPS        &kp PRCNT    &kp CARET  &kp DOLLAR  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp RPAR  &kp BSPC
&kp LEFT_SHIFT  &kp GRAVE  &kp KP_MULTIPLY  &kp EQUAL  &kp MINUS       &trans       &kp MINUS  &kp EQUAL   &kp LBKT              &kp RBKT               &kp BSLH  &trans
&kp LSHFT       &kp TILDE  &kp KP_DIVIDE    &kp PLUS   &kp UNDERSCORE  &trans       &kp UNDER  &kp PLUS    &kp LBRC              &kp RBRC               &kp PIPE  &trans
                                            &trans     &trans          &trans       &kp RET    &trans      &trans
            >;
        };

        Meta {
            display-name = "meta";
            bindings = <
&kp LG(TAB)     &kp LG(N1)  &kp LG(N2)       &kp LG(N3)  &kp LG(N4)  &kp LG(N5)       &kp LG(N6)  &kp LG(N7)  &kp LG(N8)  &kp LG(N9)  &kp LG(N0)           &kp BSPC
&kp LEFT_SHIFT  &kp F6      &kp LS(LG(TAB))  &kp LG(D)   &kp LG(F)   &kp LG(TAB)      &kp LG(H)   &kp LG(J)   &kp LG(K)   &kp LG(L)   &kp LG(PRINTSCREEN)  &trans
&kp LSHFT       &kp LG(W)   &trans           &kp LG(C)   &trans      &trans           &kp LG(N)   &trans      &trans      &trans      &trans               &tog 4
                                             &kp LGUI    &trans      &kp LG(ENTER)    &trans      &trans      &kp RALT
            >;
        };

        game {
            bindings = <
&kp ESC    &kp TAB    &kp F  &kp W   &kp N1  &kp N2       &trans  &trans  &trans  &trans  &trans  &tog 4
&kp GRAVE  &kp LCTRL  &kp A  &kp S   &kp D   &kp N6       &trans  &trans  &trans  &trans  &trans  &trans
&kp B      &kp LSHFT  &kp G  &kp N0  &kp N8  &kp N7       &trans  &trans  &trans  &trans  &trans  &trans
                             &kp E   &kp R   &kp SPACE    &trans  &trans  &trans
            >;
        };
    };
};
